In [12]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm

In [14]:
rate = pd.read_csv('ratings.csv')
rem = pd.read_csv('remarks.csv')
rem_sup = pd.read_csv('remarks_supp_opp.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
rate = rate.loc[rate['emp'] >= 0]
rem = rem.loc[rem['emp'] >= 0]
rem_sup = rem_sup.loc[rem_sup['emp'] >= 0]
rem = rem.dropna()
rem_sup = rem_sup.dropna()
rate = rate.dropna()
rem = rem.drop_duplicates()
rem_sup = rem_sup.drop_duplicates()
rate = rate.drop_duplicates()

In [15]:
emps = rate['emp'].unique()
comps = rate['comp'].unique()

In [19]:
rate_list = []
for comp in tqdm(comps):
    comp_wise_list = rate.loc[rate['comp'] == comp]
    for emp in emps:
        r = comp_wise_list.loc[rate['emp'] == emp]
        if r.shape[0]:
            rate_list.append([emp,comp,list(r['rating']),r['rating'].shape[0]])

100%|██████████| 37/37 [00:47<00:00,  1.35s/it]

In [24]:
# rate[(rate['emp'] == 16) & (rate['comp'] == 'bnivzbfi')]
rate

        emp      comp        Date  rating
0        31  bnivzbfi  01-02-2016       4
1        33  bnivzbfi  01-02-2016       4
2        79  bnivzbfi  01-02-2016       4
3        94  bnivzbfi  01-02-2016       4
4        16  bnivzbfi  01-02-2016       2
...     ...       ...         ...     ...
221227   17  zptfoxyq  03-06-2016       3
221228   17  zptfoxyq  07-06-2016       4
221229   17  zptfoxyq  13-06-2016       4
221230   17  zptfoxyq  28-06-2016       4
221231   19  zptfoxyq  04-07-2016       4

[221232 rows x 4 columns]

In [20]:
rate_df = pd.DataFrame(rate_list,columns=['emp','comp','rating','freq'])

In [21]:
rate_df

      emp      comp                                             rating  freq
0      31  bnivzbfi  [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...    53
1      33  bnivzbfi  [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...   253
2      79  bnivzbfi  [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...   194
3      94  bnivzbfi  [4, 3, 3, 1, 2, 4, 4, 4, 4, 4, 2, 1, 1, 3, 4, ...   100
4      16  bnivzbfi  [2, 3, 2, 2, 4, 3, 1, 1, 1, 1, 4, 4, 4, 4, 4, ...    90
...   ...       ...                                                ...   ...
4372  854  wsmblohy                                          [3, 3, 3]     3
4373  855  wsmblohy                                                [3]     1
4374  858  wsmblohy                                                [3]     1
4375   17  zptfoxyq                              [3, 4, 3, 3, 4, 4, 4]     7
4376   19  zptfoxyq                                                [4]     1

[4377 rows x 4 columns]

In [64]:
train_rate_list = []
# train_emps = train['emp'].unique()
# train_comps = train['comp'].unique()
for _,row in train.iterrows():
    train_rate_list.extend(list(rate_df[(rate_df['emp'] == row['emp']) & (rate_df['comp'] == row['comp'])]['rating']))

In [65]:
train['ratings'] = train_rate_list
train

        id  emp      comp lastratingdate  left   ratings
0     2228  939  phcvroct     17-10-2016     1  3.000000
1     4349  250  jblrepyr     19-03-2017     0  3.767857
2      945  134  ewpvmfbc     21-09-2016     0  2.923077
3     4553  164  wsmblohy     17-03-2017     0  2.411765
4      941  129  ewpvmfbc     04-04-2016     0  2.800000
...    ...  ...       ...            ...   ...       ...
3521   783   87  ocsicwng     20-03-2017     0  2.901408
3522  3655   14  jnvpfmup     17-03-2017     0  3.083333
3523  1460   53  xccmgbjz     09-03-2017     0  3.000000
3524   842  168  ocsicwng     01-03-2017     0  3.166667
3525  3236  204  siexkzzo     20-03-2017     0  3.033333

[3526 rows x 6 columns]

In [86]:
remarks = rem.remarkId.unique()
from collections import Counter
remark_wt_list = []
for remark in remarks:
    rel_list = rem_sup[rem_sup['remarkId'] == remark]
    remark_wt_list.append([remark,rel_list.shape[0],Counter(rel_list['support'])[True]])

KeyboardInterrupt:

In [ ]:
remark_wt_list